/app/.idea
/app/bin
/app/gen
/app/libs
/app/out
/actionbarsherlock/test
/actionbarsherlock/.settings
/actionbarsherlock/bin
/actionbarsherlock/gen
/actionbarsherlock/libs
/atomic/gen
/atomic/bin
/rssdroid/.idea
/rssdroid/gradle
